<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <%= image_tag("temp1thinner.jpg", :class=>"img-responsive center-block") %>
    <p>Don’t you hate it when you arrive at the airport, ready to get on the plane to your location… and you get notified that the flight has been delayed? We hate that too!</p>
    <h3 class="text-center">Allow us to make your life a little bit easier…
    </h3>
    <%= image_tag("htd.png", :class=>"img-responsive center-block") %>
    <h4>This service will warn you, before you even set foot in the airport, of any inconvenient delays that you might encounter. With this service you can kiss those long hours of waiting in crowded airports goodbye, and be prepared for the wait time!</h4>
    <div class="row">
      <div class="col-lg-12">
        <div class="well">
          <%= form_tag(estimation_flight_path, :method => :get, :class => 'form-inline text-center') do %>
            <div class="form-group">
                <%= text_field_tag(:search, params[:search], :class=>"form-control input-lg") %>
            </div>
              <%= submit_tag("Search Near", :class=>'btn btn-info btn-lg') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>